{% load static %}

<link rel="stylesheet" href="{% static 'css/horarios_live.css'%}">

<div class="live-banner" id="banner-circular-live">
    <div class="live-badge"><span class="live-dot"></span> Ao Vivo</div>
    <div class="live-relogio">--:--</div>
    <div class="live-divisor"></div>
    <div class="live-info">
        <span class="live-proxima">Carregando próximas saídas...</span>
        <span class="live-tempo">Sincronizando com a UFRPE...</span>
    </div>
</div>

    <script src="{% static 'js/horarios_live.js' %}"></script>
